
.center{
  margin-left: 5.7rem;
  margin-top: 4rem;
  display: grid;
  justify-content: center;
}

.letters {
  font-size: 1.5rem;
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
  letter-spacing: -3.4px;
  margin-left:2px ;
  color: hsl(36, 0%, 85%);
  
}
.letters-hover{

  font-size: 1.5rem;
   min-width: 10px;
   animation-fill-mode: both;
   margin-left:2px;
   letter-spacing: -1.5px;
   color: hsl(200, 10%, 80%);
  &:hover{
    animation:rubberBand 1s ;
    color: hsl(51, 30%, 100%);
  }
}
@for $i from 1 through 45{
  .letters._#{$i}{
    animation-delay:#{$i/15}s;
  }
}