.sidebar{
    background:hsl(212, 12%, 35%);
    width: 65px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index:3;
    min-height: 500px;
    
    .logo{
        display: block;
        padding: 8px 0;
        text-decoration: none;
        color: hsl(200, 13%,80%);
        img{
            display: block;
            margin: 8px auto;
             width: 59px;
             height: 66px;
             border-radius: 2rem;
        }
        h2{
         font-size: 1rem;
         text-align: center;
        font-family: 'La Belle Aurore';
        
        }
    
    }

    .nav{
        
       display:grid;
       justify-content: center;
       margin-top: -1.7rem;
       

        img{
            margin-top: 2.5rem;
         &:hover{
           background: hsl(200, 10%, 53%);
           border-radius: 1rem;
           padding: .1rem;
         }
        }
        a.active{
        img{
         background:hsl(200, 10%, 48%);
         padding: .2rem;
         border-radius: 1rem; 
        }
        }
       .home{
        margin-top: 6rem;
        margin-bottom:-.8rem;
       }
    }
    .info{
        margin-top: .7rem;
    }
}




