
.centers{ 
 margin-left: 3.4rem;
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  
  
  p{
    font-size: 1.1rem;
    text-align:start;
    margin-left: 1rem;
    margin-top: -1rem;
    padding: .85rem;
    margin-bottom: 1.5rem;
    font-family: "patrick hand";
    font-weight: 500;
    color:hsl(200, 10%, 53%);
  }
  
  h1{
    font-size: 1.4rem;
    color: hsl(200, 10%, 80%);
    text-align: center;
    margin-top: 1rem;
  }

}
.project{
 display:grid;
 justify-content: center;
  font-family: "Love Ya Like A Sister", cursive;
  .square{
    margin-left: .5rem;
    border: 1px solid hsl(200, 10%, 58%);
    border-radius: 1rem;
    width: 16rem;
    text-align: center;
    margin-bottom: 2rem;
    box-sizing: border-box;
    
    a{
      display: block;
      margin-bottom: 1rem;
      margin-top: 1rem;
      text-decoration: 1rem;
    }
    
    h2{
      color:lightblue;
       margin-bottom: .5rem;

    }
    span{
      font-family: "love ya like a sister", cursive;
      color: wheat;
      margin-bottom: 2rem;
      font-size: 1rem;
    }
    p{
      margin-bottom:1px;
      color: hsl(0, 0%, 70%);
    }

  }
  
    
}
.ject{
  display: grid;
  justify-content: center;
  border-radius: 2rem;
  height: 68px;
  width: 68px;
  
}
.img{
  position: relative;
  top: .5rem;
  margin-right: .4rem;
}
.todo{
  h2{
    font-size: 1.05rem;
    text-align:start;
    margin-left: 2rem;
    color: hsl(200, 10%, 80%);
  }
  span{
    color: hsl(0, 0%, 70%);
    font-family:sans-serif;
    font-weight: 600;
    font-size: .9rem;
  }
  p{
  text-align: start;
    font-size: .99rem;
    margin-left: 1rem;
  }
}

.a2{
 background-color: hsl(200, 10%, 55%);
  width: 8rem;
  color: hsl(0, 0%, 90%);
  padding:2px 3px;
  border: 1px solid hsl(200, 10%, 30%);
  border-radius: 5px;
  margin-left: 3.8rem;
    &:hover{
       background-color: hsl(200, 10%,58%);
       color:white;
    }
}


@media(min-width:70rem){
  .project{
    display: flex;
    justify-content: center;
 
  .square{
    margin-left: 2rem;
  }
  }
  .flex{
    display: flex;
    justify-content: center;
  }
  
  .about{
    width: 53rem;
  }
  .todo{
    width: 50rem;
  }

}