.center{
  margin-left: 5rem;
  margin-top: 6rem;
  display: grid;
  justify-content: center;
  
}

.header{
   p{
  margin-top: 2rem;
  color:hsl(200, 10%, 48%);
  font-weight: 500;
  margin-right: 1rem;
  font-size: 1.07rem;
  font-family: "patrick hand";
  letter-spacing: -.7px;
}
.top{
  margin-top: -1.5rem;
}
}
.h1{
  letter-spacing: .1rem;
}
.sub{
    font-size: 1rem;
    font-family: "patrick hand";
    color:hsl(200, 10%, 48%);

}

@media(min-width:50rem) {

}