.center{
  margin-left: 5rem;
  margin-top: 6rem;
  display: grid;
  justify-content: center;
}

.header{
   p{
  margin-top: 2rem;
  color: white;
  margin-right: 2rem;
  font-size: 1.3rem;
  font-family: "Patrick Hand", cursive;
}
}
.sub{
    font-size: 1.15rem;
    color: gray;
     font-family: "Patrick Hand", cursive;
}